<footer>
    <div class="footer-cont">
        <div class="container-gral">
            <div class="footer-items">
                <a class="footer-logo footer-item" href="/"><img src="img/logo.svg" alt="Logo de Louder"></a>
                <div class="footer-email footer-item">
                    <input class="footer-email-text" type="email" name="email" id="email" placeholder="Send us an email here to contact as an artist">
                    <input class="footer-email-btn" type="button" value="Send">
                </div>
                <div class="download-app footer-item">
                    <h3>Download our app:</h3>
                    <div class="download footer-item">
                        <a class="p-store icon-bkg" href="#"><img src="icons/icons8-google-play.svg" alt="Find our app on Play Store"></a>
                    <a class="a-store icon-bkg" href="#"><img src="icons/icons8-app-store-de-apple.svg" alt="Find our app on App Store"></a>
                    </div>
                </div>
                <div class="social-media footer-item">
                    <h3>Follow Us:</h3>
                    <div class="social footer-item">
                        <a class="icon-bkg" href="#"><img src="icons/icons8-facebook.svg" alt="Follow us on Facebook here"></a>
                        <a class="icon-bkg" href="#"><img src="icons/icons8-instagram.svg" alt="Follow us on Instagram here"></a>
                        <a class="icon-bkg" href="#"><img src="icons/icons8-soundcloud.svg" alt="Follow us on Soundcloud here"></a>
                        <a class="icon-bkg" href="#"><img src="icons/icons8-twitter.svg" alt="Follow us on Twitter here"></a>
                    </div>
                </div>
            </div>
            <hr>
                <div class="legal-copyright footer-item">
                    Copyright © 2021 Louder. All rights reserved.
                    <div class="footer-item">
                        <a href="#">Privacy policy</a>
                        <a href="#">Terms and conditions</a>
                    </div>
                </div>
        </div>
    </div>
</footer>