 <header>
        <nav>
            <div class="container-gral">
                    <a class="logo" href="/"><img src="img/logo.svg" alt="Louder's logo"></a>
                <button class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <div class="search">
                    <input class="srch-text" type="text" placeholder="ej. ARTIST, RECORD, SONG, etc">
                    <input class="srch-btn" type="button"  value="Search">
                </div>
                <ul class="nav-right">
                    <li><a class="sign-in" href="/log-in">Log In</a></li>
                    <li><a class="sign-up" href="/sign-up">Sign Up</a></li>
                </ul>
                </div>
            </div>
            <div class="mobile-nav-cont">
                    <h3>Search something</h3>
                    <div class="mobile-search">
                        <input class="srch-text" type="text" placeholder="ej. ARTIST, RECORD, SONG, etc">
                        <input class="srch-btn" type="button"  value="Search">
                    </div>
                    <hr>
                    <h3>Sign In or Sign Up</h3>
                    <div class="sign">
                        <a class="sign-in" href="/log-in">Log In</a>
                        <a class="sign-up" href="/sign-up">Sign Up</a>
                    </div>
            </div>
        </nav>
    </header>