@import url(style.css);

body {
    color: var(--main-white);
}

.artist-section {
    margin: 100px 0 50px 0;
    display: flex;
}

.artist-pg-img {
    width: 350px;
    height: 199px;
    border: 2.5px solid var(--main-white);
    object-fit: cover;
}

.artist-info {
    margin-left: 25px;
}

.artist-info h2 {
    font-weight: 100;
}

.artist-info p {
    font-family: var(--alt-font);
    word-spacing: -1px;
}

.artist-categories {
    display: flex;
    font-family: var(--alt-font);
    margin: 10px 0 15px 0;
}

.artist-description {
    color: var(--alt-white);
}

.g {
    width: 95px;
    text-align: center;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    color: var(--alt-black);
    text-decoration: underline;
}

.main-g {
    background-color: var(--g-main-color);
}

.second-g {
    background-color: var(--g-second-color);
}

.third-g {
    background-color: var(--g-third-color);
}

.artist-upld h3 {
    font-size: 23px;
    font-weight: 100;
}

.card-section {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: var(--main-black);
    padding: 10px 10px 10px 10px;
    display: flex;
    margin: 10px 0;
    transition: 0.2s linear;
    transition-property: box-shadow;
}

.card:hover {
    box-shadow: 0px 0px 15px 5px var(--main-white);
}

.artist-upld .card h4 {
    font-size: 23px;
}

.artist-upld img {
    width: 150px;
}

.artist-upld p {
    color: var(--alt-white);
}

.upld-info {
    font-family: var(--alt-font);
    font-size: 20px;
    margin-left: 15px;
}

.upld-date {
    margin: 10px 0;
    color: var(--alt-red);
}

.all-uplds h3 {
    font-size: 23px;
    font-weight: 100;
    margin: 20px 0 30px 0;
}

.listen-btn {
    padding: 10px 5px;
    border-radius: 10px;
    background-color: var(--main-white);
    color: var(--main-black);
    transition: 0.2s linear background-color;
}

.listen-btn:hover {
    background-color: var(--alt-white);
}

/* mobile */

@media (max-width: 625px) {
    .artist-section {
        flex-direction: column;
        align-items: center;
    }
    .artist-info {
        margin: 15px 0 0 0;
        text-align: center;
    }
    .artist-pg-img {
        display: flex;
        align-items: center;
    }
    .artist-categories {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}