@import url(style.css);

body {
    color: var(--main-white);
}

.artist-section {
    margin: 100px 0 50px 0;
    display: flex;
}

.artist-pg-img {
    width: 350px;
    height: 199px;
    border: 2.5px solid var(--main-white);
}

.artist-info {
    margin-left: 25px;
}

.artist-info h2 {
    font-weight: 100;
}

.artist-info p {
    font-family: var(--alt-font);
    word-spacing: -1px;
}

.artist-categories {
    display: flex;
    font-family: var(--alt-font);
    margin: 10px 0 15px 0;
}

.artist-description {
    color: var(--alt-white);
}

.g {
    width: 95px;
    text-align: center;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    color: var(--alt-black);
    text-decoration: underline;
}

.g-electronic {
    background-color: var(--g-electronic-color);
}

.g-techno {
    background-color: var(--g-techno-color);
}

.g-house {
    background-color: var(--g-house-color);
}

.artist-upld h3 {
    font-size: 23px;
    font-weight: 100;
}

.card {
    background-color: var(--main-black);
    padding: 10px 10px 10px 10px;
    display: flex;
    margin-top: 20px;
    transition: 0.2s linear;
    transition-property: box-shadow;
}

.card:hover {
    box-shadow: 0px 0px 15px 5px var(--main-white);
}

.artist-upld .card h4 {
    font-size: 23px;
}

.artist-upld img {
    width: 150px;
}

.artist-upld p {
    color: var(--alt-white);
}

.upld-info {
    font-family: var(--alt-font);
    margin-left: 15px;
}

.upld-date {
    margin: 10px 0;
    color: var(--alt-red);
}

.all-uplds h3 {
    font-size: 23px;
    font-weight: 100;
    margin: 20px 0 30px 0;
}