@import url(style.css);

body {
    color: var(--main-white);
}

.artist-section {
    margin: 100px 0;
    display: flex;
}

.artist-pg-img {
    width: 350px;
    border: 2.5px solid var(--main-white);
}

.artist-info {
    margin-left: 25px;
}

.artist-info h2 {
    font-weight: 100;
}

.artist-info p {
    font-family: var(--alt-font);
}

.artist-categories {
    display: flex;
    font-family: var(--alt-font);
    margin: 10px 0 15px 0;
}

.g {
    width: 95px;
    text-align: center;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    color: var(--alt-black);
    text-decoration: underline;
}

.g-electronic {
    background-color: var(--g-electronic-color);
}

.g-techno {
    background-color: var(--g-techno-color);
}

.g-house {
    background-color: var(--g-house-color);
}