:root {
    --main-red: #F51B00;
    --alt-red: #f51d0090;
    --main-black: #000000;
    --main-black-alt: rgba(0, 0, 0, 0.980);
    --alt-black: #040A07;
    --main-white: #e5e5e5;
    --alt-white: #e5e5e5c0;
    --g-main-color: #00FF94;
    --g-second-color: #E64CFF;
    --g-third-color: #DBFF00;
    --main-font: 'Alfa Slab One', sans-serif;
    --alt-font: 'Catamaran', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--main-font);
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--main-black);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}
a {
    color: var(--main-white);
    text-decoration: none;
}

.container-gral {
    max-width: 1080px;
    margin: 0 auto;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: var(--alt-red); 
    color: var(--main-white); 
    cursor: pointer;
    font-size: 0px;
    border-radius: 15px;
    transition: linear 0.08s;
    transition-property: background-color, color;
  }
  
  #myBtn:hover {
    background-color: var(--alt-white);
    color: var(--main-red);
  }

h1 {
    display: none;
}

header {
    width: 98.502%;
    position: fixed;
    z-index: 50;
}

.header {
    width: 100%;
    height: 14%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.nav-back {
    width: 100%;
    height: 65px;
}

nav {
    position: relative;
    width: 100%;
    display: flex;
    height: 65px;
    background-color: black;
    padding: 0 25px;
    margin: 0 auto;
    font-family: var(--alt-font);
}

nav .container-gral {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo, .logo img {
    width: 101px;
    height: 29px;
}

.logo {
    margin-right: 25px;
}

.logo-center {
    width: 110px;
    height: 40px;
}

.logo-center img {
    width: 110px;
    height: 40px;
}

.search {
    display: flex;
    align-items: center;
    height: 35px;
}

.srch-text {
    padding: 15px;
    width: 500px;
    height: 35px;
    font-size: 14.5px;
    font-weight: 500;
    font-family: var(--alt-font);
}

.srch-btn {
    padding: 5px 25px;
    height: 35px;
    background-color: var(--main-red);
    color: var(--main-white);
    cursor: pointer;
    border: none;
    transition: background-color 0.08s linear;
}

.srch-btn:hover {
    background-color: var(--alt-red);
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right li {
    padding-left: 15px;
}

.nav-right li a{
    width: 90px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in {
    border: 1px double var(--main-red);
    background-color: transparent;
    transition: background-color 0.08s linear;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.sign-up {
    border: 1px double var(--main-red);
    background-color: var(--main-red);
    transition: background-color 0.08s linear;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.sign-in:hover, .sign-up:hover {
    background-color: var(--alt-red);
}

.mobile-nav-cont {
    display: none;
}

.mobile-nav-cont h3 {
    font-size: 20px;
}

.mobile-search {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.mobile-nav-cont .srch-text {
    padding: 9px;
    width: 65%;
    height: 45px;
    font-size: 15.5px;
}

.mobile-nav-cont .srch-btn {
    padding: 2.5px 10px;
    height: 45px;
    width: 35%;
}

.mobile-nav-cont hr {
    margin: 15px 0;
}

.mobile-nav-cont .sign-in, .mobile-nav-cont .sign-up {
    height: 45px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.bkg-linear {
    background: linear-gradient(180deg, var(--main-black) 0%,  var(--main-red) 100%);
    width: 100%;

}

.hero {
    width: 100%;
    height: 425px;
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
    margin: 0 auto;
}

.hero-left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.left-main {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-left h2 {
    font-size: 35px;
    color: var(--main-white);
    font-weight: 100;
    width: 90%;
}

.auto-scroll {
    display: inline;
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.hero-right {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.main-artists {
    margin-top: 100px;
    padding: 25px;
}

.galery-column {
    display: flex;
    flex-direction: column;
}

.image-galery {
    display: flex;
    flex-direction: row;
}

.image-galery img {
    width: 175px;
}

.main-artists h2 {
    margin: 0 0 25px 0;
    font-size: 25px;
    color: var(--main-white);
    font-weight: 100;
    align-items: center;
}

.main-artists .container-gral {
    width: 90%;
    margin: 0 auto;
}

.main-artists .container-gral h2 {
    text-align: center;
}

.artists {
    margin: 0 auto;
    width: 97%;
}

.link-img {
    width: 323px;
    height: 150px;
}

.link-img img {
    width: 300px;
    height: 175px;
    object-fit: cover;
    align-items: center;
    border-radius: 10px;
    margin: 10px 15px;
    transition: linear 0.08s;
    transition-property: box-shadow border;
}

.link-img img:hover {
    border: 2px solid var(--main-white);
    box-shadow: 0px 0px 15px 1px var(--main-white);
}

.icon-bkg-c {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 1px 2px;
    transition: background linear 0.08s;
}

.icon-bkg-c:hover {
    background: var(--main-red);
}




@media (max-width: 1094px) {
    .link-img img {
        width: 22%;
        margin: 10px 7.5px;
    }
    .realease-img img {
        margin: 0 auto;
    }
}

.week-realease {
    color: var(--main-white);
}
.week-realease h2 {
    font-weight: 100;
    text-align: center;
    width: 90%;
    font-size: 30px;
    margin: 25px auto;
}

.week-realease .container-gral {
    width: 90%;
}

.realease-main-cont {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 35px
}

.realease-main {
    width: 50%;
    font-size: 25px;
    font-family: var(--alt-font);
    display: flex;
    order: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.artist-quote {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
}

.artist-quoter {
    margin: 10px;
}

.realease-btn {
    width: 205px;
    padding: 5px 15px;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    border: 1px solid var(--main-white);
    transition: background-color 0.08s linear;
}

.realease-btn:hover {
    background-color: var(--main-red);
}

.realease-img {
    width: 50%;
    order: 1;
}

.realease-img img {
    width: 90%;
    height: 90%;
}

.brand-new-artists {
    color: var(--main-black);
    background-color: var(--main-white);
    padding: 15px 0;
}

.brand-new-artists .container-gral {
    margin: 0 auto;
    width: 90%;
}

.brand-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.brand-new h2 {
    font-weight: 100;
    color: var(--main-red);
}

.brand-new p, .brand-new a {
    font-family: var(--alt-font);
}

.brand-btn {
    padding: 10px 35px;
    border-radius: 10px;
    color: red;
    cursor: default;
    font-family: var(--alt-font);
    border: 1px solid var(--main-red);
    transition: background-color 0.08s linear;
}

.brand-btn:hover {
    background-color: transparent;
    color: var(--main-white);
    background-color: var(--main-red);
}

footer {
    font-family: var(--alt-font);
    color: var(--main-white);
}

.footer-cont {
    padding: 15px 0 0 0;
}

.footer-cont .container-gral {
    width: 90%;
}

.footer-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 15px;
}

footer hr {
    margin-bottom: 15px;
}

.footer-logo, .footer-logo img {
    width: 101px;
    height: 29px;
}

.footer-email-text  {
    padding: 15px;
    width: 300px;
    height: 35px;
    background-color: var(--main-black);
    color: var(--main-white);
    border: 1px solid var(--main-white);
    font-size: 17.5px;
    font-weight: 100;
    font-family: var(--alt-font);
}

.footer-email-btn {
    padding: 5px 25px;
    height: 35px;
    background-color: var(--main-red);
    color: var(--main-white);
    text-transform: uppercase;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.08s linear;
}

.footer-email-btn:hover {
    background-color: var(--alt-red);
}

.download-app {
    display: flex;
}

.download-app h3 {
    font-weight: 100;
    margin-right: 5px;
}

.p-store, .p-store img {
    width: 30px;
}

.a-store, .a-store img {
    width: 30px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.social-media h3 {
    font-weight: 100;
}

.social-media a {
    margin-left: 5px;
}

.social-media a, .social-media a img {
    width: 25px;
}

.legal-copyright {
    font-weight: 100;
    color: var(--main-white);
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.legal-copyright a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
}

.legal-copyright div a {
    margin: 0 10px;
}

.legal-copyright div a:hover {
    color: var(--main-red);
}

.toggle-button {
    width: 30px;
    height: 21px;
    position: absolute;
    top: 25px;
    right: 60px;
    display: none;
    background: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--main-white);
    border-radius: 5px;
}

.mobile-nav-cont {
    display: none;
}

.social {
    display: flex;
}
.download {
    display: flex;
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-form {
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 400px;
    padding: 10px 20px;
    color: var(--main-black);
}

.main-form h2 {
    font-weight: 100;
    margin-top: 25px;
}

.main-form p {
    font-family: var(--alt-font);
    margin: 20px 0 0 0;
}

.fgt-pswd {
    font-family: var(--alt-font);
    color: var(--main-red);
    font-weight: 500;
}

.fgt-pswd:hover {
    text-decoration: underline;
}

.main-form .sign-email,
.main-form .sign-pswd
{
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--main-black);
    margin-top: 40px;
    padding: 0 0 0 5px;
}

.sign-btn {
    height: 50px;
    background-color: var(--main-red);
    margin-top: 75px;
    padding: 0 114px;
    color: var(--main-white);
    border: none;
    cursor: pointer;
    transition: 0.2s linear background-color;
}

.sign-btn:hover {
    background-color: var(--alt-black);
}

.log-btn {
    height: 50px;
    background-color: var(--main-red);
    margin-top: 32px;
    padding: 0 114px;
    color: var(--main-white);
    border: none;
    cursor: pointer;
    transition: 0.2s linear background-color;
}

.log-btn:hover {
    background-color: var(--alt-black);
}

/* Tablet */

@media (max-width: 1002px) {
    header {
        width: 100%;
    }
    .header {
        background-color: var(--main-black);
    }
    nav {
        box-shadow: none;
    }

    .container-gral {
        width: 90%;
    }

    .toggle-button {
        display: flex;
    }

    .search, .nav-right {
        display: none;
    }
    
    .mobile-nav-cont {
        display: none;
    }

    .active {
        position: absolute;
        top: 100%;
        display: flex;
        width: 100%;
        height: 350px;
        padding: 15px 10% 25px 10%;
        flex-direction: column;
        background-color: var(--main-black-alt);
        z-index: 15;
        right: 0%;
        color: var(--main-white);
        justify-content: space-between;
    }
    .hero {
        margin-top: 105px;
    }
    .hero-left {
        width: 100%;
        height: 100%;
    }
    .left-main {
        align-items: center;
        text-align: center;
    }

    .hero-right {
        display: none;
    }

    .artists {
        width: 105%;
    }

    .link-img img {
        width: 30%;
        margin: 10px 5px;
    }

    .realease-main {
        width: 50%;
    }
    .realease-img {
        width: 80%;
        display: flex;
        align-items: center;
    }
    .footer-items {
        flex-direction: column;
    }

    .footer-item {
        margin-top: 20px;
    }
    
    .footer-items .footer-logo,
    .footer-items .footer-search,
    .footer-items .download-app,
    .footer-items .social-media {
        margin: 10px 0;
    }
    
    .footer-items .download-app,
    .footer-items .social-media {
        font-weight: 300;
    }

    .footer-email {
        text-align: center;
    }

    .footer-email-text {
        min-height: 45px;
    }

    .footer-email-btn {
        width: 80%;
        margin-left: 0;
    }
        
    .social-media {
        padding: 0;
    }
    
    .legal-copyright {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin: 0 10px 0 0;
    }
    .social-media {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .social {
        display: flex;
    }
    .download-app {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .download {
        display: flex;
    }

    .icon-bkg-c {
        margin: 15px 15px 15px 0;
        width: 45px;
    }
    .download .icon-bkg-c img {
        width: 45px;
        height: 45px;
    }

    .social-media .icon-bkg-c img {
        width: 35px;
        height: 35px;
    }

    .social-media a, .social-media a img {
        width: 40px;
    }
    .container-form {
        align-items: flex-end;
    }
    .main-form {
        height: 430px;
    }
    .main-form h2 {
        margin-top: 25px;
    }
    .logo-center img{
        width: 80px;
        margin-left: 15px;
    }
    .header {
        height: 60px;
    }
    .sign-btn {
        margin-top: 50px;
    }
}
        


/* Mobile */

@media (max-width: 625px) {
    .link-img img {
        width: 95%;
        margin: 10px 0;
    }

    .realease-main-cont {
        flex-direction: column;
    }

    .realease-main {
        padding: 25px 0;
    }

    .artist-quote {
        width: 300px;
        font-size: 20px;
    }

    .brand-new {
        text-align: center;
        flex-direction: column;
    }

    .brand-new p {
        margin: 10px 0;
    }
    .footer-email-text {
        padding: 12px;
        width: 80%;
        font-size: 14.5px;
    }
    .main-form {
        margin-top: 25px;
    }
}