<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
</head>
<body>
    <header class="header">
            <a class="logo-center" href="/"><img src="img/logo.svg" alt="Louder's logo"></a>
    </header>
    <div class="bkg-linear">
        <div class="container-form">
            <div class="main-form">
                <h2>Log In</h2>
                <input class="sign-email" type="email" placeholder="Email">
                <input class="sign-pswd" type="password" placeholder="Password">
                <p>Forgot your password? <a class="fgt-pswd" href="#">Click here.</a></p>
                <input class="log-btn" type="button" value="Log In">
            </div>
        </div>
    </div>
</body>
</html>