<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
</head>
<body>
    <header class="header">
            <a class="logo-center" href="/"><img src="img/logo.svg" alt="Louder's logo"></a>
    </header>
    <div class="bkg-linear">
        
    </div>
</body>
</html>